
<div class="row">

    <div class="col-6">
        <div class="form-group">
            <label class="control-label">
                Name
            </label>
            <br>
            <input type="text" class="form-control" [(ngModel)]="user!.name" name="name">
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label class="control-label">
                Lastname
            </label>
            <br>
            <input type="text" class="form-control" [(ngModel)]="user!.lastName" name="lastName">
        </div>
    </div>
</div>
