<div class="row">

    <div class="col-6">
        <div class="form-group">
            <label class="control-label">
                Name
            </label>
            <br>
            <input type="text" class="form-control" [(ngModel)]="user!.name" name="name">
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label class="control-label">
                Lastname
            </label>
            <br>
            <input type="text" class="form-control" [(ngModel)]="user!.lastName" name="lastName">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="control-label">
                Email
            </label>
            <br>
            <input type="email" class="form-control" [(ngModel)]="user!.email" name="email">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="control-label">
                Credits
            </label>
            <br>
            <input type="text" class="form-control" [(ngModel)]="user!.credits" name="credits">
        </div>
    </div>

</div>
<br>
<div class="row">

    <div class="col-6">
        <div class="form-group">
            <button class="btn btn-primary" (click)="onSubmit()">Salva</button>
        </div>
    </div>
</div>
<br>
<br>

<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="addAddress()">
            <i class="fas fa-plus"></i>
        </button>
        <table *ngIf="this.user!.addresses !== undefined" class="table-responsive w-100">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>PostalCode</th>
                    <th>State</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of this.user!.addresses">
                    <td>{{row.id}}</td>
                    <td>{{row.address}}</td>
                    <td>{{row.cityId}}</td>
                    <td>{{row.postalCode}}</td>
                    <td>{{row.state}}</td>
                    <td>{{row.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="address-form" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{addressFormTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitAddress()">Save</button>
            </div>
        </div>
    </div>
</div>