<nav class="mt-2"> 
    <!--begin::Sidebar Menu-->
    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
        <li class="nav-item"> 
            <a href="./docs/introduction.html" class="nav-link active"> 
                <i class="nav-icon fas fa-home"></i>
                    <p>Home</p>
            </a> 
        </li>
        <li class="nav-item"> 
            <a href="./docs/introduction.html" class="nav-link"> 
                <i class="nav-icon fas fa-film"></i>
                    <p>Film</p>
            </a> 
        </li>
        <li class="nav-item"> 
            <a href="./docs/introduction.html" class="nav-link"> 
                <i class="nav-icon fas fa-video"></i>
                    <p>Serie TV</p>
            </a> 
        </li>
        <li class="nav-item"> 
            <a href="#" class="nav-link"> 
                <i class="nav-icon fas fa-gears"></i>
                <p>
                    Sistema
                    <i class="nav-arrow fas fa-chevron-right"></i>
                </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item"> 
                <a href="./widgets/small-box.html" class="nav-link">
                    <i class="nav-icon fas fa-screwdriver-wrench"></i>
                    <p>Impostazioni</p>
                </a> 
            </li>
            <li class="nav-item"> 
                <a href="./widgets/small-box.html" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Utenti</p>
                </a> 
            </li>
            <li class="nav-item"> 
                <a href="./widgets/small-box.html" class="nav-link">
                    <i class="nav-icon fas fa-tags"></i>
                    <p>Ruoli</p>
                </a> 
            </li>
            <li class="nav-item"> 
                <a href="./widgets/small-box.html" class="nav-link">
                    <i class="nav-icon fas fa-list"></i>
                    <p>Categorie</p>
                </a> 
            </li>
        </ul>
    </li>
    </ul> 
    <!--end::Sidebar Menu-->
</nav>