<div *ngIf="!this.isRenderingLoginPage; else login" class="app-wrapper">

    <app-header></app-header>

    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <app-sidebar-brand></app-sidebar-brand>

        <div *ngIf="this.isAdmin()" class="sidebar-wrapper">
            <app-sidebar></app-sidebar>
        </div>
    </aside>

    <!--begin::App Main-->
    <main class="app-main">
        <app-content-header *ngIf="this.isAuthenticated()"></app-content-header>
        <app-content></app-content>
    </main>
    <!--end::App Main-->

    <app-footer></app-footer>

</div>

<ng-template #login>
    <app-login></app-login>
</ng-template>