<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/">
                <b>Admin</b>LTE
            </a>
        </div>
        <!-- /.login-logo -->

        <div class="card">
            <div class="card-body login-card-body">
                <p id="mex" class="login-box-msg">Sign in to start your session</p>

                <div id="form-container">
                    <div id="user-frm">

                        <ul class="nav nav-pills" id="tab-nav" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="account-tab-trigger" data-bs-toggle="tab"
                                    data-bs-target="#account-tab" type="button" role="tab" aria-controls="account-tab"
                                    aria-selected="true">Account</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link disabled" id="personalData-tab-trigger" data-bs-toggle="tab"
                                    data-bs-target="#personalData-tab" type="button" role="tab"
                                    aria-controls="personalData-tab" aria-selected="false"
                                    data-require="account">Personal Data</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link disabled" id="addresses-tab-trigger" data-bs-toggle="tab"
                                    data-bs-target="#addresses-tab" type="button" role="tab"
                                    aria-controls="addresses-tab" aria-selected="false"
                                    data-require="personalData">Addresses</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link disabled" id="contacts-tab-trigger" data-bs-toggle="tab"
                                    data-bs-target="#contacts-tab" type="button" role="tab" aria-controls="contacts-tab"
                                    aria-selected="false" data-require="personalData">Contacts</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="account-tab" role="tabpanel"
                                aria-labelledby="account-tab-trigger">
                                <hr class="mt-0">

                                <div class="row mb-3">
                                    <h5>Account</h5>
                                </div>

                                <form id="account">
                                    <div id="email" class="row mb-3 p-2">
                                        <label for="input-email" class="form-label p-0">Email</label>
                                        <input type="email" class="form-control" id="input-email" name="email">
                                        <div class="form-text text-danger"></div>
                                    </div>
                                    <div id="password" class="row mb-3 p-2">
                                        <label for="input-password" class="form-label p-0">Password</label>
                                        <input type="password" class="form-control " id="input-password"
                                            name="password">
                                        <div class="form-text text-danger"></div>
                                    </div>
                                    <div id="confirm-password" class="row mb-3 p-2">
                                        <label for="input-confirm-password" class="form-label p-0 ">Confirm
                                            Password</label>
                                        <input type="password" class="form-control" name="confirm-password"
                                            id="input-confirm-password">
                                        <div class="form-text text-danger"></div>
                                    </div>

                                    <div id="" class="row mb-3 p-2">
                                        <button type="button" class="btn btn-primary next disabled col-2 ms-auto"
                                            data-next="personalData"><i
                                                class="fas fa-2x fa-arrow-circle-right pointer-events-none"></i></button>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="personalData-tab" role="tabpanel"
                                aria-labelledby="personalData-tab-trigger">
                                <hr class="mt-0">

                                <div class="row mb-3">
                                    <h5>Personal Data</h5>
                                </div>

                                <form id="personalData">
                                    <div id="name" class="row mb-3 p-2">
                                        <label for="input-name" class="form-label p-0">Name</label>
                                        <input type="text" class="form-control" id="input-name" name="name">
                                        <div class="form-text text-danger"></div>
                                    </div>
                                    <div id="last-name" class="row mb-3 p-2">
                                        <label for="input-last-name" class="form-label p-0">Last Name</label>
                                        <input type="text" class="form-control" id="input-last-name" name="lastName">
                                        <div class="form-text text-danger"></div>
                                    </div>
                                    <div id="birthdate" class="row mb-3 p-2">
                                        <label for="input-birthdate" class="form-label p-0">Birthdate</label>
                                        <input type="date" class="form-control" id="input-birthdate" name="birthdate">
                                        <div class="form-text text-danger"></div>
                                    </div>
                                    <div id="gender" class="row mb-3 p-2">
                                        <label for="input-gender" class="form-label p-0">Gender</label>
                                        <select class="form-control" id="input-gender" name="gender">
                                            <option value="">Choose...</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                            <option value="O">Other</option>
                                        </select>
                                        <div class="form-text text-danger"></div>
                                    </div>

                                    <div id="" class="row mb-3 p-2">
                                        <button type="button" class="btn btn-primary prev col-2 me-auto"
                                            data-prev="account"><i
                                                class="fas fa-2x fa-arrow-circle-left pointer-events-none"></i></button>
                                        <button type="button" class="btn btn-primary next disabled col-2 ms-auto"
                                            data-next="addresses"><i
                                                class="fas fa-2x fa-arrow-circle-right pointer-events-none"></i></button>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="addresses-tab" role="tabpanel"
                                aria-labelledby="addresses-tab-trigger">
                                <hr class="mt-0">

                                <div class="row mb-3">
                                    <h5>Addresses</h5>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modal-address">
                                            <i class="fas fa-2x fa-plus text-white pointer-events-none"></i>
                                        </button>

                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="table-responsive">
                                            <table class="table table-striped" id="addresses-table">
                                                <thead>
                                                    <tr>
                                                        <th>Type</th>
                                                        <th>Address</th>
                                                        <th>City</th>
                                                        <th>Postal Code</th>
                                                        <th>Delete</th>
                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center" colspan="5">no records found
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <div id="" class="row mb-3">
                                    <button type="button" class="btn btn-primary prev col-2 me-auto"
                                        data-prev="personalData"><i
                                            class="fas fa-2x fa-arrow-circle-left pointer-events-none"></i></button>
                                    <button type="button" class="btn btn-primary next col-2 ms-auto"
                                        data-next="contacts"><i
                                            class="fas fa-2x fa-arrow-circle-right pointer-events-none"></i></button>
                                </div>

                                <div id="modal-address" class="modal" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Address Form</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <form id="addresses">
                                                    <div id="address" class="row mb-3 p-3">
                                                        <label for="input-address"
                                                            class="form-label p-0">Address</label>

                                                        <input type="text" class="form-control" id="input-address"
                                                            name="address">
                                                        <div class="form-text text-danger"></div>

                                                    </div>
                                                    <div id="postalCode" class="row mb-3 p-3">
                                                        <label for="input-postalCode" class="form-label p-0">Postal
                                                            Code</label>

                                                        <input type="text" class="form-control" id="input-postalCode"
                                                            name="postalCode">
                                                        <div class="form-text text-danger"></div>

                                                    </div>
                                                    <div id="type" class="row mb-3 p-3">
                                                        <label for="input-tipy" class="form-label p-0">Type</label>

                                                        <select class="form-control" id="input-type" name="type">
                                                            <option value="">Choose...</option>
                                                            <option value="0">Residential</option>
                                                            <option value="1">Domicile</option>
                                                        </select>
                                                        <div class="form-text text-danger"></div>

                                                    </div>
                                                    <div id="city" class="row mb-3 p-3">
                                                        <label for="input-city" class="form-label p-0">City</label>

                                                        <input type="text" class="form-control" id="input-city"
                                                            name="city">
                                                        <div class="form-text text-danger"></div>

                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button"
                                                    class="btn btn-success addresses add-data disabled"
                                                    data-form="addresses">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="contacts-tab" role="tabpanel"
                                aria-labelledby="contacts-tab-trigger">
                                <hr class="mt-0">

                                <div class="row mb-3">
                                    <h5>Contacts</h5>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modal-contact">
                                            <i class="fas fa-2x fa-plus text-white pointer-events-none"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="table-responsive">
                                            <table class="table table-striped" id="contacts-table">
                                                <thead>
                                                    <tr>
                                                        <th class="w-25">Type</th>
                                                        <th class="w-75">Value</th>
                                                        <th>Delete</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center" colspan="3">no records found
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <div id="" class="row mb-3">
                                    <button type="button" class="btn btn-primary prev col-2 me-auto"
                                        data-prev="addresses"><i
                                            class="fas fa-2x fa-arrow-circle-left pointer-events-none"></i></button>
                                    <button type="button" class="btn btn-success submit col-2 ms-auto"><i
                                            class="fas fa-2x fa-save pointer-events-none"></i></button>
                                </div>

                                <div id="modal-contact" class="modal" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Contact Form</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="contacts">

                                                    <div id="value" class="row mb-3 p-3">
                                                        <label for="input-value" class="form-label p-0">Value</label>

                                                        <input type="text" class="form-control" id="input-value"
                                                            name="value">
                                                        <div class="form-text text-danger"></div>

                                                    </div>
                                                    <div id="type" class="row mb-3 p-3">
                                                        <label for="input-tipy" class="form-label p-0">Type</label>

                                                        <select class="form-control" id="input-type" name="type">
                                                            <option value="">Choose...</option>
                                                            <option value="0">Email</option>
                                                            <option value="1">Telephone</option>
                                                            <option value="2">Mobile</option>
                                                            <option value="3">Fax</option>
                                                        </select>
                                                        <div class="form-text text-danger"></div>

                                                    </div>

                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-success contacts add-data disabled"
                                                    data-form="contacts">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="social-auth-links text-center mb-3 d-grid gap-2">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-primary">
                            <i class="bi bi-facebook me-2"></i> Register using Facebook
                        </a>
                        <a href="#" class="btn btn-danger">
                            <i class="bi bi-google me-2"></i> Register using Google+
                        </a>
                    </div>
                    <!-- /.social-auth-links -->


                    <p class="mb-0">
                        <a href="/login" class="text-center">
                            Login
                        </a>
                    </p>
                </div>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div> <!-- /.login-box -->
</div>