<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/">
                <b>Admin</b>LTE
            </a>
        </div>
        <!-- /.login-logo -->

        <div class="card">
            <div class="card-body login-card-body">
                <p id="mex" class="login-box-msg">Sign in to start your session</p>

                <div id="form-container">
                    <div id="user-frm">

                        <ul class="nav nav-pills" id="tab-nav" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="account-tab-trigger" data-bs-toggle="tab"
                                    data-bs-target="#account-tab" type="button" role="tab" aria-controls="account-tab"
                                    aria-selected="true">Account</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="personalData-tab-trigger" data-bs-toggle="tab"
                                    data-bs-target="#personalData-tab" type="button" role="tab"
                                    aria-controls="personalData-tab" aria-selected="false"
                                    data-require="account">Personal Data</button>
                            </li>


                        </ul>

                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="account-tab" role="tabpanel"
                                aria-labelledby="account-tab-trigger">
                                <hr class="mt-0">

                                <div class="row mb-3">
                                    <h5>Account</h5>
                                </div>

                                <form id="account">
                                    <div id="email" class="row mb-3 p-2">
                                        <label for="input-email" class="form-label p-0">Email</label>
                                        <input type="email" class="form-control" id="input-email" name="email"
                                            [(ngModel)]="model!.email">
                                        <div class="form-text text-danger"></div>
                                    </div>
                                    <div id="password" class="row mb-3 p-2">
                                        <label for="input-password" class="form-label p-0">Password</label>
                                        <input type="password" class="form-control " id="input-password" name="password"
                                            [(ngModel)]="Pass">
                                        <div class="form-text text-danger"></div>
                                    </div>
                                    <div id="confirm-password" class="row mb-3 p-2">
                                        <label for="input-confirm-password" class="form-label p-0 ">Confirm
                                            Password</label>
                                        <input type="password" class="form-control" name="confirm-password"
                                            id="input-confirm-password" [(ngModel)]="confPass">
                                        <div class="form-text text-danger"></div>
                                    </div>

                                </form>
                            </div>

                            <div class="tab-pane fade" id="personalData-tab" role="tabpanel"
                                aria-labelledby="personalData-tab-trigger">
                                <hr class="mt-0">

                                <div class="row mb-3">
                                    <h5>Personal Data</h5>
                                </div>

                                <form id="personalData">
                                    <div class="row mb-3">

                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Name
                                                </label>
                                                <br>
                                                <input type="text" class="form-control" [(ngModel)]="model!.name"
                                                    name="name">
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Lastname
                                                </label>
                                                <br>
                                                <input type="text" class="form-control" [(ngModel)]="model!.lastName"
                                                    name="lastName">
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Email
                                                </label>
                                                <br>
                                                <input type="email" class="form-control" [(ngModel)]="model!.email"
                                                    name="email">
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Credits
                                                </label>
                                                <br>
                                                <input type="text" class="form-control" [(ngModel)]="model!.credits"
                                                    name="credits">
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success" (click)="Register()">Registrati</button>
                            </div>
                        </div>
                    </div>




                    <p class="mb-0">
                        <a href="/login" class="text-center">
                            Login
                        </a>
                    </p>
                </div>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div> <!-- /.login-box -->
</div>