<div *ngIf="!this.isRenderingLoginPage else login" class="app-wrapper">

  <app-header></app-header>

  <aside *ngIf="this.isAuthenticated()" class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <app-sidebar-brand></app-sidebar-brand>

    <div class="sidebar-wrapper">
      <app-sidebar></app-sidebar>
    </div>
  </aside>

  <!--begin::App Main-->
  <main class="app-main">
    <app-breadcrumb *ngIf="this.isAuthenticated()"></app-breadcrumb>

    <!--begin::App Content-->
    <div class="app-content">
      <!--begin::Container-->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content-->
  </main>
  <!--end::App Main-->

  <app-footer *ngIf="this.isAuthenticated()"></app-footer>

</div>

<ng-template #login>
  <app-login></app-login>
</ng-template>
<ng-template #register>
  <app-register></app-register>
</ng-template>