<div class="card card-primary card-outline shadow-lg mb-4">
    <div class="card-header">
        <div class="card-title">Gestione Serie Tv</div>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col pt-3">
                <button class="btn btn-primary mb-3" (click)="openModal('Add Serie')">
                    <i class="fas fa-plus"></i>
                </button>
                <table *ngIf="this.series !== undefined" class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Titolo</th>
                            <th>Categoria</th>
                            <th>Stagioni</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-row [ngForOf]="this.series">
                            <tr>
                                <td width="5%">
                                    <a id="collapse-trigger-series" data-bs-toggle="collapse"
                                        href="#collapse-serie-{{row.id}}" role="button" (click)="OnCollapse()"
                                        aria-expanded="false">
                                        <i *ngIf="row.seasons !== undefined && row.seasons.length > 0"
                                            class="fas fa-plus"></i>
                                        <i *ngIf="row.seasons !== undefined && row.seasons.length > 0"
                                            class="fas fa-minus d-none"></i>
                                    </a>


                                </td>
                                <td width="5%">{{row.id}}</td>
                                <td width="50%">{{row.title}}</td>
                                <td width="15%">{{categoryName(row.categoryId)}}</td>
                                <td width="15%">{{row.seasons?.length}}</td>
                                <!-- <td width="15%">
                                                        <i class="fas fa-star" *ngFor="let item of [].constructor(row.rating)"></i>
                                                    </td> -->

                                <td width="10%">
                                    <button class="btn btn-primary" (click)="openModal('Edit Serie', row.id)">
                                        <i class="fas fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger ms-2" (click)="removeSerie(row.id)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr id="collapse-serie-{{row.id}}" class="collapse">
                                <td colspan="6">
                                    <app-seasons [serieId]="row.id" [seasons]="row.seasons"></app-seasons>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>




        </div>

    </div>
</div>

<div id="modal-serie" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-serie">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Titolo
                                    </label>
                                    <br>
                                    <input type="text" class="form-control" [(ngModel)]="model!.title" name="title">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Categoria
                                    </label>
                                    <br>
                                    <select class="form-select" [(ngModel)]="model!.categoryId" name="categoryId">
                                        <option value="0">Seleziona Categoria</option>
                                        <option *ngFor="let cat of this.categories" value="{{cat.id}}">
                                            {{cat.description}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Valutazione
                                    </label>
                                    <br>
                                    <select class="form-select" [(ngModel)]="model!.rating" name="rationg">
                                        <option value="0">Seleziona Valutazione</option>
                                        <option value="1">1 Stella</option>
                                        <option value="2">2 Stelle</option>
                                        <option value="3">3 Stelle</option>
                                        <option value="4">4 Stelle</option>
                                        <option value="5">5 Stelle</option>

                                    </select>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-success" (click)="AddOrUpdate()">Salva</button>
            </div>
        </div>
    </div>
</div>