<!--begin::App Content Header-->
<div class="app-content-header"> 
    <!--begin::Container-->
    <div class="container-fluid"> 
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">{{ this.title }}</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">  
                    <!--cicla tutti gli item contenuti nella lista, per ognuno renderizza un Li che sarà l elemento del breadCrumb-->
                    <li *ngFor="let item of this.breadcrumbItems; last as isLast" class="breadcrumb-item {{ isLast ? 'active': '' }}">
                        <a *ngIf="!isLast else active" href="{{item.url}}">{{item.title}}</a>
                        <ng-template #active>
                            {{item.title}}
                        </ng-template>
                    </li>
                </ol>
            </div>
        </div> 
        <!--end::Row-->
    </div> 
    <!--end::Container-->
</div> 
<!--end::App Content Header--> 