<div class="card card-primary card-outline shadow-lg mb-4">
    <div class="card-header">
        <div class="card-title">Gestione Utenti</div>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col pt-3">
                <button class="btn btn-primary mb-3" (click)="openModal('Add user')">
                    <i class="fas fa-plus"></i>
                </button>
                <table *ngIf="this.users !== undefined" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome Completo</th>
                            <th>Email</th>
                            <th>Email Verificata</th>
                            <th>Ruolo</th>
                            <th>Crediti</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of this.users">
                            <td width="5%">{{row.id}}</td>
                            <td width="25%">{{getFullName(row)}}</td>
                            <td width="25%">{{row.email}}</td>
                            <td width="5%">
                                <i *ngIf="row.emailVerified !== undefined" class="fas fa-check text-success"></i>
                                <i *ngIf="row.emailVerified == undefined" class="fas fa-times text-danger"></i>
                            </td>
                            <td width="25%">{{row.role?.description}}</td>
                            <td width="5%">{{row.credits}}</td>
                            <td width="10%">
                                <button class="btn btn-primary" (click)="openModal('Edit user', row.id)">
                                    <i class="fas fa-pencil"></i>
                                </button>
                                <button class="btn btn-danger ms-2" (click)="removeUser(row.id)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>




        </div>

    </div>
</div>

<div id="modal-user" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="true">Profilo</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="addresses-tab" data-bs-toggle="tab" data-bs-target="#addresses"
                            type="button" role="tab" aria-controls="addresses" aria-selected="false">Indirizzi</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="container-fluid">
                            <div class="row mb-3">

                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Name
                                        </label>
                                        <br>
                                        <input type="text" class="form-control" [(ngModel)]="model!.name" name="name">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Lastname
                                        </label>
                                        <br>
                                        <input type="text" class="form-control" [(ngModel)]="model!.lastName"
                                            name="lastName">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Email
                                        </label>
                                        <br>
                                        <input type="email" class="form-control" [(ngModel)]="model!.email"
                                            name="email">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Credits
                                        </label>
                                        <br>
                                        <input type="text" class="form-control" [(ngModel)]="model!.credits"
                                            name="credits">
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-6">
                                    <div class="form-group">
                                        <button class="btn btn-success" (click)="AddOrUpdate()">Salva</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="addresses" role="tabpanel" aria-labelledby="addresses-tab">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col pt-3">
                                    <button class="btn btn-primary mb-3" (click)="openAddressModal('Add Address')">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <table *ngIf="this.user!.addresses !== undefined" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Indirizzo</th>
                                                <th>Città</th>
                                                <th>CAP</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of this.user!.addresses">
                                                <td width="5%">{{row.id}}</td>
                                                <td width="65%">{{row.address}}</td>
                                                <td width="10%">{{cityName(row.cityId)}}</td>
                                                <td width="10%">{{row.postalCode}}</td>
                                                <td width="10%">
                                                    <button class="btn btn-primary"
                                                        (click)="openAddressModal('Edit Address', row.id)">
                                                        <i class="fas fa-pencil"></i>
                                                    </button>
                                                    <button class="btn btn-danger ms-2" (click)="removeAddress(row.id)">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-success" (click)="AddOrUpdate()">Salva</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-address" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-address">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Indirizzo
                                    </label>
                                    <br>
                                    <input type="text" class="form-control" [(ngModel)]="address!.address"
                                        name="address">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">
                                        Città
                                    </label>
                                    <br>
                                    <select class="form-select" [(ngModel)]="address!.cityId" name="cityId">
                                        <option value="0">Seleziona Città</option>
                                        <option *ngFor="let city of this.cities" value="{{city.id}}">{{city.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">
                                        CAP
                                    </label>
                                    <br>
                                    <input type="text" class="form-control" [(ngModel)]="address!.postalCode"
                                        name="postalCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-success" (click)="AddOrUpdateAddress()">Salva</button>
            </div>
        </div>
    </div>
</div>